@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --bs-primary: #1A237E;
  --bs-secondary: #F5F5F5;
  --bs-success: #C6FF00;
  --bs-danger: #D50000;
  --bs-warning: #f9c27b;

  --bs-body-font-family: 'Open Sans', sans-serif;
  --bs-font-sans-serif: 'Open Sans', sans-serif;
}

/* Custom heading + brand styles */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
} */

.brand-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kaushan {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


/* custom color */
.navy-blue {
  background-color: #2537ff;
}

.tomato-red {
  background-color: #ff6161;
}

.lime-green {
  background-color: #9cff95;
}

.light-gray {
  background-color: #F5F5F5;
}
